

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container {
	padding-left: 10%;
	padding-right:10%;
}
.content {
	padding-left:5%;
}
.thumbnail{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}


#main-image {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}














