

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
li {
	list-style-type: none;
}
a {
	  color: color: #111;
  text-decoration: none;
}
a:hover {
	text-decoration: none;
	color:#ee9400;
}
.container {
	padding-left: 5%;
	padding-right:5%;
}
.content {
	padding-left:5%;
}
.footer-info {
	float:left;
}
.footer-logo {
	width:30px;
	float:right;
}
.thumbnail{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#contact {
}
#fb {

}
#footer {
  width: 100%;
  background: url(http://www.turnerfleischer.com/turnerfleischer/App_Theme/images/bkg_footer.gif) right center no-repeat #e3e3e3;
  display: block;
  font-size: 9px;
}
#linkedin {
}
#main-image {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
#nav {
	width: 190px;
	border: none;
	background: none;
}
#stratus {

}

#turnerfleischer {

}











